/* 공통 영역 */

html {
    scroll-behavior: smooth;
}


:root {
    --Main-BG: #000;

    --Loading-Stroke: #2a88e6;
    --Loading-Circle: #45474b;
    --Loading-BG: #16191e;

    --Section-BG: #00163C;

    --a-hover: #6aaded;
    --Main-Border: #ffffff80;
    --Scroll-Pipe: #81e4fd;

    --TEXT-Color-01: #fff;
    --TEXT-Color-02: #000;

    --Circle-transition: stroke-dashoffset 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    forwards;

    --Mobile-Header-height: 48px;
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: var(--Main-BG); */
    color: var(--TEXT-Color-01);
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
    color: var(--TEXT-Color-01);
}

ul {
    list-style: none;
}