/* 공통 영역 */

html {
    scroll-behavior: smooth;
}


:root {
    --Main-BG: #000;

    --Loading-Stroke: #2a88e6;
    --Loading-Circle: #45474b;
    --Loading-BG: #16191e;

    --Section-BG: #00163C;

    --a-hover: #6aaded;
    --Main-Border: #ffffff80;
    --Scroll-Pipe: #81e4fd;

    --TEXT-Color-01: #fff;
    --TEXT-Color-02: #000;

    --Mobile-Header-height: 48px;
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: var(--Main-BG); */
    color: var(--TEXT-Color-01);
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
    color: var(--TEXT-Color-01);
}

ul {
    list-style: none;
}




/* 로딩 전용 */
.loader {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #16191e;
    position: absolute;
  
    z-index: 5252;
  }
  
  .loader>div {
    width: 100px;
    height: 100px;
  
    border: 15px solid #45474b;
    border-top-color: #2a88e6;
  
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin .5s infinite linear;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(-360deg);
    }
  
    100% {}
  }

  
.MToggle {
    display: none;
  }