/* 공통 영역 */

html {
    scroll-behavior: smooth;
}


:root {
    --main-color: ;
    --anchor-color: #fff;
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.a1 {
    text-decoration: none;
    color: var(--anchor-color);
}

ul {
    list-style: none;
}

.category {
    margin-top: 6vh;
    margin-left: 2vw;

    font-family: 'Poppins', sans-serif;


    display: inline-block;
}