/* (1st) 각종 CSS 임포트 */
@import url(reset.css);
/* PAGEABLE CSS */
@import url(pageable.min.css);


/* WEB FONTS */
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');
@import url('http://fonts.cdnfonts.com/css/open-sans');
@import url('http://fonts.cdnfonts.com/css/ceab');
@import url(//db.onlinewebfonts.com/c/548e77e130ea884c764acabe1ba1ad63?family=0Arame);

@font-face {
  font-family: "0Arame";
  src: url("//db.onlinewebfonts.com/t/548e77e130ea884c764acabe1ba1ad63.eot");
  src: url("//db.onlinewebfonts.com/t/548e77e130ea884c764acabe1ba1ad63.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/548e77e130ea884c764acabe1ba1ad63.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/548e77e130ea884c764acabe1ba1ad63.woff") format("woff"), url("//db.onlinewebfonts.com/t/548e77e130ea884c764acabe1ba1ad63.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/548e77e130ea884c764acabe1ba1ad63.svg#0Arame") format("svg");
}

/* 
각각의 폰트 패밀리들

순서: 위부터
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Light', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'CEAB', sans-serif;
font-family: 'Arame Bold';
*/




/* 로딩 전용 */


.loader {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #16191e;
  position: absolute;

  z-index: 5252;
}

.loader>div {
  width: 100px;
  height: 100px;

  border: 15px solid #45474b;
  border-top-color: #2a88e6;

  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  animation: spin .5s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(-360deg);
  }

  100% {}
}


#index-body {
  background-color: #000;
}

#particles-js {
  width: 100vw;
  height: 100vh;
  position: absolute;

  z-index: -1;
  opacity: 0.8;
}


/* 헤더 */
header {
  z-index: 100;

  width: 100vw;
  height: 80px;

  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.08rem;

  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--anchor-color);
}

.headerCT {
  width: 1440px;
  height: 48px;

  position: relative;


  display: flex;
  align-items: center;
  justify-content: space-between;
}

#leftSite {
  margin-left: 30px;
}

#leftSite>.a1 {
  width: 40px;
  padding: 12px 24px;

  transition: 0.5s;
}

#leftSite>.a1:hover {

  transition: 0.5s;
  outline: 2px solid rgb(106, 173, 237);
  color: #fff;
}

#rightSite {
  margin-right: 30px;
}

#rightSite>.a1 {
  width: 40px;
  padding: 12px 24px;
  transition: 0.5s;
}

#rightSite>.a1:hover {
  transition: 0.5s;
  outline: 2px solid rgb(89, 177, 85);
  color: #fff;
}



/* 메인 영역 */
#container {
  color: var(--anchor-color);
}

/* INTRO */
.main-intro {
  width: 100vw;
  height: 100vh;

  padding-top: 80px;
}

.introCT {
  margin: 0 auto;
  width: 1440px;
  height: 100%;

  background-color: transparent;

  position: relative;
}

.textbox {
  position: absolute;
  bottom: 40%;
}

.textbox>p {
  margin-bottom: 0;

  font-weight: 600;
  font-size: 30px;
}

.textbox>h1 {
  font-size: 100px;
  font-weight: 900;
}

.textbox>h3 {
  font-family: 'Noto Sans KR', sans-serif;
  margin-top: 30px;
  font-size: 36px;
  font-weight: 500;
}

.start {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);

  color: #fff;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;

  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 12px 48px;
  border-radius: 30px;
  text-decoration: none;
}





/* ABOUT ME */
.about {
  width: 100vw;
  height: 100vh;

  padding-top: 80px;
  position: relative;

  overflow: hidden;
}

.BGvideo {
  position: absolute;
  width: 100%;
  height: auto;

  margin: 0 auto;

  opacity: 0.5;
  z-index: -1;
}

.AboutCT {
  margin: 0 auto;
  width: 1440px;
  height: 100%;
}

.profileNskills {
  position: relative;


  width: 100%;
  height: 100%;

  margin: 4vh auto;


  overflow: hidden;
}

.profilecard {
  position: relative;
  width: 90%;
  height: 64%;

  margin: 9vh auto;
  border-radius: 20px;

  background-color: rgba(19, 19, 44, 0.5);

  display: flex;
  align-content: center;
  justify-content: space-around;
}

.cards {
  margin: auto auto;
  display: inline-block;
  width: 28%;
  height: 90%;

  background-color: #fff;
  color: #000;
  text-align: center;

  border-radius: 20px;
}

.cards>img {
  margin-top: 30%;
  width: 50%;
}

.cards>h2 {
  margin-top: 40px;
  font-size: 24px;
}

.cards>h3 {
  font-size: 24px;
}

.myskills {
  margin: auto auto;

  width: 60%;
  height: 80%;
  background-color: #45474b;
  color: #000;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.percentage {
  position: relative;
  width: 180px;
  height: 240px;
  background-color: #16191e;
}

.perc {
  margin: 2vh auto;
  z-index: 45;
  width: 140px;
  height: 140px;

}

.perc svg {
  position: relative;
  width: 140px;
  height: 140px;

  transform: rotate(270deg);
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 1.2s;
}

@keyframes fadeIn {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.perc svg circle {
  width: 100%;
  height: 100%;

  fill: transparent;
  stroke-width: 2;
  stroke: #000;

  transform: translate(6px, 6px);
}

.perc svg circle:nth-child(2) {
  stroke: var(--cir);
  stroke-dasharray: 408;
  stroke-dashoffset: calc(408 - (408 * var(--num)) / 100);
}

.dot {
  width: 140px;
  height: 140px;
  position: absolute;
  z-index: 5;
  inset: 5px;

  transform: rotate(calc(3.6deg * var(--num)));
  animation: animateDot 1s linear forwards;
}

@keyframes animateDot {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(calc(3.6deg * var(--num)));
  }

}

.dot::before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  content: '';
  background: var(--cir);


  transform: translateX(-50%);
  top: 2px;
  left: 50%;


  box-shadow: 0px 0px 10px var(--cir), 0 0 30px var(--cir);
}

.nums {
  position: absolute;
  top: 29%;
  left: 28%;

  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  inset: 0;

  text-align: center;

  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;

  color: #fff;

  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 1.2s;

}

@keyframes fadeIn {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.nums>h2 {
  margin-bottom: 60px;
}

.nums>p {
  font-size: 30px;
}



/* PORTFOLIO PROJECT  */
.myPORTFOLIO {
  width: 100vw;
  height: 100vh;

  padding-top: 80px;

}

.myPORTFOLIOCT {
  margin: 0 auto;
  width: 1440px;
  height: 100%;

  /* outline: 2px solid #fff; */
}

.PTselect {
  margin-top: 10vh;

  /* outline: 2px solid coral; */
  width: 100%;
  height: 60%;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.PTList {
  position: relative;
  width: 54vw;
  height: 48vh;
  border-radius: 20px;

  background-color: rgba(255, 255, 255, 0.2);

  margin: 10vh auto;

  z-index: 20;

  /* 임시 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.ptbtns {
  position: absolute;
  bottom: 8vh;
}

.ptbtns>a {
  border-radius: 60px;
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;
  margin-left: 20px;
  margin-right: 20px;

  font-weight: bold;
  font-size: 20px
}

.ptbtns>a:first-child {
  border: 2px solid #2a88e6;
  transition: 0.2s;
}

.ptbtns>a:first-child:hover {
  transition: 0.2s;
  color: #2a88e6;
  background-color: #ffffff;
  box-shadow: 0 0 8px #ffffff;
}

.ptbtns>a:last-child {
  border: 2px solid #ffffff;
  transition: 0.2s;
}

.ptbtns>a:last-child:hover {
  transition: 0.2s;
  color: #fff;
  background-color: #2a88e6;
  box-shadow: 0 0 8px rgb(163, 201, 252);
}

.swP {
  font-weight: bold;
  font-size: 40px;
}




/* CONTACT ME */
.CONTECTme {
  width: 100vw;
  height: 100vh;

  padding-top: 80px;

  font-family: 'Poppins', sans-serif;
}

.contactCT {
  margin: 0 auto;
  width: 1440px;
  height: 100%;

  /* outline: 2px solid orange; */
}

.contaT {
  margin-top: 16vh;
  text-align: center;
  font-weight: bold;
}

.contaT>h1 {
  font-size: 80px;
}

.bottomCont {
  margin: 24vh auto;

  /* outline: 2px solid chocolate; */

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
}

.contaB>a {
  font-size: 36px;
  color: #fff;
  text-decoration: none;
}



/* OUTRO */
.main-outro {
  width: 100vw;
  height: 100vh;

  padding-top: 80px;

}

.outroCT {
  margin: 0 auto;
  width: 1440px;
  height: 100%;

  /* outline: 2px solid rgb(21, 88, 61); */

  position: relative;

  display: flex;
  align-content: center;
  justify-content: center;
}

.outroInfo {
  position: absolute;
  right: 30px;
  bottom: 30px;

  color: #fff;
  text-shadow: 0px 0px 20px #000;

  font-weight: 500;
  font-style: italic;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

.outroText {
  /* outline: 2px solid rgb(21, 88, 61); */
  text-align: center;
  display: inline-block;

}

.outroText-01 {
  margin-top: 32vh;
  margin-bottom: 20vh;
  font-family: 'Poppins', sans-serif;
}

.outroText-01>h2 {
  font-size: 60px;
}

.outroText-01>h3 {
  font-size: 40px;
}

.outroText-02 {
  font-size: 22px;
  font-weight: bold;
}