/* mobile.css */
body {
  /* background: orange; */
  font-size: 14px;
}

section h2 {
  font-size: 20px;
}

.container {
  width: 100%;
  /* max-width: 1440px;
  margin: 0 auto; */
  padding-left: 20px;
  padding-right: 20px;
  /* outline: 1px solid #333; */
}




/* 헤더 영역 */
#main-header {
  background: #fff;
  border-bottom: 1px solid #ccc;
}

#main-header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--mobile-header-height);
}

#gnb {
  position: absolute;
  left: 0;
  top: var(--mobile-header-height);
  background: #fff;
  width: 100%;
  border-top: 1px solid #ccc;
  background: #ededed;
  transform: translateY(-10px);
  transition: 0.4s;
  opacity: 0;
}

#gnb>ul {
  padding: 20px;
  font-size: 20px;
}

#gnb>ul>li>a {
  display: block;
  padding: 10px;
}

#main-header nav.on {
  transform: translateY(0px);
  transition: 0.4s;
  opacity: 1;
  display: block;
}


/* 모바일 로고 크기 */
#main-header {
  border-bottom: 1px solid #ccc;
  position: fixed;
  width: 100%;
  height: var(--mobile-header-height);
  background: #fff;
}

#main-header .container h1 img {
  display: block;
  width: 140px;
}

/* GNB 토글 버튼부 */
.bi-list {
  display: block;

  border: none;
  background-color: transparent;

  font-size: 24px;
  font-weight: bold;

  position: absolute;
  top: 0;
  right: 0;
  bottom: -4.5px;
  margin-top: 18px;
  margin-right: 20px;

  width: 26px;
  height: 26px;


  opacity: 1;
  transition: 0.2s;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.bi-list.on {
  display: none;
  opacity: 0;
  transition: 0.2s;
}

.bi-x-lg {
  display: block;

  border: none;
  background-color: transparent;

  font-size: 24px;
  font-weight: bold;

  position: absolute;
  top: 0;
  right: 0;
  margin-top: 18px;
  margin-right: 20px;

  width: 26px;
  height: 26px;

  display: none;
  opacity: 0;
  transition: 0.2s;
}

.bi-x-lg.on {
  display: block;
  opacity: 1;
  transition: 0.2s;
}





/* 메인 비주얼 */
#main-visual {
  background: #FCEEAD;
  width: 100%;
  height: calc(100vh - var(--mobile-header-height));
  box-sizing: content-box;
  padding-top: var(--mobile-header-height);
}

#main-visual .container {
  display: block;
  /* background: #ccc; */
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#main-visual .title {
  padding-top: 40px;
}

#main-visual .title h2 {
  /* outline: 1px solid red; */
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 40px;
  letter-spacing: 0.2em;
}


#main-visual .title p>span {
  display: block;
}

#main-visual .title p>span:first-child {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.3em;
}

#main-visual .title p>span:last-child {
  font-weight: 500;
  font-size: 38px;
}

#main-visual .img {
  padding-bottom: 20px;
}

#main-visual .img img {
  width: 75%;
}





/* Sub-Visual 섹션 */
#main-section1 {
  width: 100%;
}

#main-section1 .container {
  padding: 0;
}

#main-section1 .col:first-child {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

#main-section1 .col img {
  width: 80%;
}

#main-section1 .col:last-child {
  height: 100%;
  background-color: #FEF200;
  padding: 0;
}

#main-section1 .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-section1 .info h2 {
  padding-top: 40px;
}

.sub-title {
  font-weight: 600;
}

#main-section1 .info .st2 {
  text-align: center;
  font-weight: 500;
  padding: 20px;
}

.btn-detail {
  margin-top: 20px;
  margin-bottom: 60px;
}





/* 2 x 2 구성 */
#main-section2 {

  position: relative;
  width: 100%;

  margin-bottom: 34px;
}


#main-section2 .container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  padding: 0;
}

#main-section2 .container .col {
  height: 180px;

  /* outline: 2px solid coral; */
  display: block;

  transition: 0.3s;
}

/* 마우스 호버시 각 col은 줌-인으로 */
#main-section2 .container .col:hover {
  transition: 0.3s;
  transform: scale(1.05);
}


/* 각 배경항목 */
#main-section2 .container .col:first-child {
  background-color: #FEC82F;
}

#main-section2 .container .col:nth-child(2) {
  background-image: url("../images/Frame\ 2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#main-section2 .container .col:nth-child(3) {
  background-image: url("../images/Frame\ 3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#main-section2 .container .col:last-child {
  background-image: url("../images/Frame\ 4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -20px;
}

/* 각 텍스트와 크기 */
#main-section2 .container .col h2 {
  margin-top: 12%;
  margin-bottom: 8px;
  font-size: 28px;

  padding-left: 20px;
}

#main-section2 .container .col p {
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}


/* 각 텍스트 색상 */
.cot1 {
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5);
}

.cot2 {
  color: #fff;
  text-shadow: 0px 1px 4px #000;
}


/* 각 로고와 아이콘 사이즈 */
#main-section2 .container .col img {
  display: none;
}

/* #main-section2 .container .col:first-child img {
  width: 30%;
}

#main-section2 .container .col:nth-child(2) img {
  width: 15%;
}

#main-section2 .container .col:nth-child(3) img {
  width: 15%;
}

#main-section2 .container .col:last-child img {
  width: 15%;
} */

/* 3번째 아이콘 */
.ll1 {
  position: absolute;
  right: 20px;

  width: 50px;
  height: 50px;

  border-radius: 50%;
  border: none;

  background-color: transparent;
  background-image: url("../images/Icon-Play.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#main-section2 .container .col:last-child img {
  width: 15%;
}


/* 모달 창 */
.modal {
  display: none;
}

.modal.on {
  outline: 2px solid coral;

  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.7);

  z-index: 9999;

  margin-bottom: 34px;
}

.modal iframe {
  width: 320px;
  height: 200px;
}

/* 닫기 버튼 */
#close-ybtn {
  position: absolute;
  top: 66%;
  right: 54.5%;
  left: 45.5%;

  width: 30px;
  height: 30px;

  background-color: transparent;
  border: none;

  background-image: url("../images/x.png");
  background-repeat: no-repeat;
  background-size: cover;

  font-size: 40px;
}

.bi-x-lg {
  display: none;
}





/* UP 버튼 */
#upi {
  display: inline-block;
  width: 36px;
  height: 36px;
}

#upi>a>img {
  width: 36px;
}

#up {
  width: 100%;
  height: 36px;

  display: flex;
  justify-content: right;
  align-items: center;

  padding-right: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}





/* Footer */
footer {
  position: relative;

  margin-top: 30px;

  width: 100%;
  height: 210px;
}

footer .container {


  height: 100%;
  background-color: #ccc;
}

/* 푸터 로고 */
.fti {
  position: absolute;

  left: 20px;
  top: 32px;

  width: 40%;
}


/* 저작권 */
.ftext {

  padding-top: 90px;

  color: #333;
}

footer .container p {
  text-align: center;

  font-size: 14px;
  line-height: 24px;
}

/* SNS */
.ftsns {
  position: absolute;
  top: 30px;
  right: 30px;
}

.ftsns>ul {
  /* outline: 1px solid black; */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;

  height: 28px;
}

.ftsns>ul>li {
  padding-left: 30px;
}

.ftsns>ul>li:first-child {
  padding: 0;
}

.ftsns>ul>li>a {
  height: 100%;
}

.ftsns>ul>li>a>img {
  height: 28px;
}